.cartaEstudiante{
    
    width: auto;
    background-color: azure;
    border-radius: 15px;
    padding: 10px;
    flex:1;
    margin-right: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.cartaEstudiante:hover {
    box-shadow: 0 4px 8px rgb(0, 0, 0); /* Add shadow on hover */
}

.cartaEstudiante h4{
    font-size: 30px;
}

.cartaEstudiante h2{
    font-size: 20px;
    color: #000000;
}

.botonesEstudiante button{
    margin-left: auto;
    background-color: #0b64c5;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 0.65rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    height: 35px;
}

.botonesEstudiante button:hover {
    background-color: #063970; /* Change to the desired hover color */
  }