.listaProfesores{
    flex:1;
}

.listaProfesores{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listaProfesores h2 {
    margin-top: 0;
    font-family: "Poppins";
    color: white;
  }