/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* layout */
.App{
  width: 100%;
}
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  /*background: #414040;*/
  background: #0a090f;
  margin: 0;
  font-family: "Poppins";
  width: 100%;
}


.logout {
  background-color: #FFF;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  height: 50px;
 
}

.logout:hover {
  background-color: #9C9998;
}

.logout:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .logout {
    padding: .75rem 1.5rem;
  }
}


.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.container {
  background-color: #2C3E50;
  display: flex;
  justify-content: space-between; /* Add this line */
  padding: 10px 20px; /* Adjust padding as needed */
  align-items: center;
  width: 100%;
}
 .container h1 {
    color: #FFFFFF;
  }

  .home{
    display: flex;
    flex-direction: column;
  }

  .horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: top; /* Optional: Align items vertically */
    justify-content: center; /* Optional: Align items horizontally */
    
}


.contenedorListas{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contenedorListas h2{
  color: #FFFFFF;
  
}


